version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: fipe
      POSTGRES_PASSWORD: fipe123
      POSTGRES_DB: fipe
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - fipe-net

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
    volumes:
      - kafka_data:/var/lib/kafka/data
    networks:
      - fipe-net
  
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - fipe-net
    volumes:
      - redis_data:/data

  gateway:
    build:
      context: ./gateway
      dockerfile: src/main/docker/Dockerfile.jvm
    container_name: fipe-gateway
    depends_on:
      - postgres
      - kafka
      - redis
    ports:
      - "8080:8080"
    environment:
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://postgres:5432/fipe
      QUARKUS_DATASOURCE_USERNAME: fipe
      QUARKUS_DATASOURCE_PASSWORD: fipe123
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      QUARKUS_REDIS_HOSTS: redis://redis:6379
    networks:
      - fipe-net
    restart: unless-stopped

  processor:
    build:
      context: ./processor
      dockerfile: src/main/docker/Dockerfile.jvm
    container_name: fipe-processor
    depends_on:
      - postgres
      - kafka
    ports:
      - "8081:8080"
    environment:
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://postgres:5432/fipe
      QUARKUS_DATASOURCE_USERNAME: fipe
      QUARKUS_DATASOURCE_PASSWORD: fipe123
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    networks:
      - fipe-net
    restart: unless-stopped

networks:
  fipe-net:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
  kafka_data:
